In [101]:
# Importing pandas libraty
import pandas as pd
#importing numpy library
import numpy as np

In [103]:
#import dataset 
url = "http://bit.ly/autolib_dataset"
df= pd.read_csv(url, encoding='latin1')

df.head(10)

,Address,Cars,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,Displayed comment,ID,...,Scheduled at,Slots,Station type,Status,Subscription status,year,month,day,hour,minute
0,2 Avenue de Suffren,0,0,0,0,0,nonexistent,Paris,NaN,paris-suffren-2,...,NaN,2,station,ok,nonexistent,2018,4,8,11,43
1,145 Rue Raymond Losserand,6,6,0,0,0,operational,Paris,NaN,paris-raymondlosserand-145,...,NaN,0,station,ok,nonexistent,2018,4,6,7,24
2,2 Avenue John Fitzgerald Kennedy,3,3,0,2,0,operational,Le Bourget,NaN,lebourget-johnfitzgeraldkennedy-2,...,NaN,1,station,ok,nonexistent,2018,4,3,20,14
3,51 Rue EugÃÂ¨ne OudinÃÂ©,3,3,1,0,1,operational,Paris,NaN,paris-eugeneoudine-51,...,NaN,2,station,ok,nonexistent,2018,4,4,4,37
4,6 avenue de la Porte de Champerret,3,3,0,0,0,nonexistent,Paris,NaN,paris-portedechamperret-6,...,NaN,3,station,ok,nonexistent,2018,4,8,17,23
5,8 Boulevard Voltaire,0,0,0,0,0,nonexistent,Paris,NaN,paris-voltaire-8,...,NaN,4,station,ok,nonexistent,2018,4,6,7,2
6,37 rue Leblanc,0,0,0,0,0,nonexistent,Paris,"Station en parking (niv -1), accÃÂ¨s 37 rue L...",paris-citroencevennes-parking,...,NaN,0,station,closed,nonexistent,2018,4,8,18,20
7,17 Rue des Luaps ProlongÃÂ©e,3,3,1,0,0,nonexistent,Nanterre,NaN,nanterre-luaps-17,...,NaN,0,station,ok,nonexistent,2018,4,4,22,13
8,34 avenue Jean Moulin,1,1,0,0,0,nonexistent,Paris,NaN,paris-jeanmoulin-34,...,NaN,4,station,ok,nonexistent,2018,4,2,22,58
9,41 boulevard de Rochechouart,6,6,0,0,0,nonexistent,Paris,NaN,paris-anvers-parking,...,NaN,0,station,ok,nonexistent,2018,4,4,15,2

In [104]:
#cheking the data information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

# Checking for data validity and missing values

In [105]:
# Checking if there is any missing value in dataframe as a whole
df.isnull()
#there are two null columns: Display Comment and Scheduled at.

,Address,Cars,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,Displayed comment,ID,...,Scheduled at,Slots,Station type,Status,Subscription status,year,month,day,hour,minute
0,False,False,False,False,False,False,False,False,True,False,...,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,...,True,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,True,False,...,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,False,...,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,False,False,False,False,False,False,False,False,True,False,...,True,False,False,False,False,False,False,False,False,False
4996,False,False,False,False,False,False,False,False,True,False,...,True,False,False,False,False,False,False,False,False,False
4997,False,False,False,False,False,False,False,False,True,False,...,True,False,False,False,False,False,False,False,False,False
4998,False,False,False,False,False,False,False,False,True,False,...,True,False,False,False,False,False,False,False,False,False
4999,False,False,False,False,False,False,False,False,True,False,...,True,False,False,False,False,False,False,False,False,False

In [106]:
# checking for Null columns in the dataset
df.isnull().any()
df.isnull().sum()
#the null columns have the following number of missing values:
#Displayed comment = 4889
#Scheduled at = 4953

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

# Removing columns that will not be in use

In [107]:
# removing cars column since it's the same as Bluecar counter.
df1 = df.drop('Cars', 1)
df1.head(5)

,Address,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,Displayed comment,ID,Kind,...,Scheduled at,Slots,Station type,Status,Subscription status,year,month,day,hour,minute
0,2 Avenue de Suffren,0,0,0,0,nonexistent,Paris,NaN,paris-suffren-2,STATION,...,NaN,2,station,ok,nonexistent,2018,4,8,11,43
1,145 Rue Raymond Losserand,6,0,0,0,operational,Paris,NaN,paris-raymondlosserand-145,STATION,...,NaN,0,station,ok,nonexistent,2018,4,6,7,24
2,2 Avenue John Fitzgerald Kennedy,3,0,2,0,operational,Le Bourget,NaN,lebourget-johnfitzgeraldkennedy-2,STATION,...,NaN,1,station,ok,nonexistent,2018,4,3,20,14
3,51 Rue EugÃÂ¨ne OudinÃÂ©,3,1,0,1,operational,Paris,NaN,paris-eugeneoudine-51,STATION,...,NaN,2,station,ok,nonexistent,2018,4,4,4,37
4,6 avenue de la Porte de Champerret,3,0,0,0,nonexistent,Paris,NaN,paris-portedechamperret-6,PARKING,...,NaN,3,station,ok,nonexistent,2018,4,8,17,23

In [108]:
#Most popular city for picking up a shared electric cars
city= df1.groupby('City').count()['Bluecar counter']
city.sort_values(ascending=False).head(5)

City
Paris                  2816
Nanterre                127
Issy-les-Moulineaux     101
CrÃÂ©teil               88
Rueil-Malmaison          88
Name: Bluecar counter, dtype: int64

In [75]:
# What is the most popular hour for returning cars overall?
hour = df1.groupby('hour').count()['Bluecar counter']
hour.sort_values(ascending=False).head(5)

hour
21    237
9     221
16    220
6     219
7     219
Name: Bluecar counter, dtype: int64

In [109]:
#create a new column for conbined date and time 
df1[['year','month','day','hour','minute']]=df1[['year','month','day','hour','minute']].astype(str)
df1['newdt']=df1['year']+'-'+df1['month']+'-'+df1['day']+' '+df1['hour']+':'+df1['minute']
df1['newdt']=pd.to_datetime(df1['newdt'])
df1.head()

,Address,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,Displayed comment,ID,Kind,...,Slots,Station type,Status,Subscription status,year,month,day,hour,minute,newdt
0,2 Avenue de Suffren,0,0,0,0,nonexistent,Paris,NaN,paris-suffren-2,STATION,...,2,station,ok,nonexistent,2018,4,8,11,43,2018-04-08 11:43:00
1,145 Rue Raymond Losserand,6,0,0,0,operational,Paris,NaN,paris-raymondlosserand-145,STATION,...,0,station,ok,nonexistent,2018,4,6,7,24,2018-04-06 07:24:00
2,2 Avenue John Fitzgerald Kennedy,3,0,2,0,operational,Le Bourget,NaN,lebourget-johnfitzgeraldkennedy-2,STATION,...,1,station,ok,nonexistent,2018,4,3,20,14,2018-04-03 20:14:00
3,51 Rue EugÃÂ¨ne OudinÃÂ©,3,1,0,1,operational,Paris,NaN,paris-eugeneoudine-51,STATION,...,2,station,ok,nonexistent,2018,4,4,4,37,2018-04-04 04:37:00
4,6 avenue de la Porte de Champerret,3,0,0,0,nonexistent,Paris,NaN,paris-portedechamperret-6,PARKING,...,3,station,ok,nonexistent,2018,4,8,17,23,2018-04-08 17:23:00

# most popular station

In [123]:
#determining the station with the most popular
Station= df1.groupby('ID').count()['Bluecar counter']
Station.sort_values(ascending=False).head(5)

ID
paris-portedemontrouge-8    13
paris-grenelle31-parking    11
paris-courcelles-69         11
sevres-wolfenbuttel-1       11
paris-mathis-35             11
Name: Bluecar counter, dtype: int64

In [125]:
#determining thhe most popular post office
postoffice= df1.groupby('Address').count()['Bluecar counter']
postoffice.sort_values(ascending=False).head(5)

Address
8 Avenue de la Porte de Montrouge    13
69 Rue de Courcelles                 11
1 Rue de WolfenbÃÂ¼ttel             11
35 rue Mathis                        11
31 boulevard de Grenelle             11
Name: Bluecar counter, dtype: int64

# the most popular pickup time

In [113]:
# finding the time where most cars were picked
popular_dates = df1.groupby('newdt').count()['Bluecar counter']
popular_dates.sort_values(ascending=True).head(10)

newdt
2018-04-01 00:00:00    1
2018-04-06 12:11:00    1
2018-04-06 12:19:00    1
2018-04-06 12:20:00    1
2018-04-06 12:21:00    1
2018-04-06 12:23:00    1
2018-04-06 12:34:00    1
2018-04-06 12:35:00    1
2018-04-06 12:36:00    1
2018-04-06 12:49:00    1
Name: Bluecar counter, dtype: int64

# the most popular drop off time

In [116]:
#assuming that cars in parking are the ones dropped off, we can make the excecute the following
# Time with the highest number means many vehicles were dropped of while with the least 
# number of slots means that it is the least drop off time. 
popular_drops = df1.groupby('newdt').count()['Slots']
popular_drops.sort_values(ascending=False).head(10)

newdt
2018-04-06 05:52:00    5
2018-04-06 22:29:00    4
2018-04-04 08:31:00    4
2018-04-04 03:32:00    4
2018-04-01 16:02:00    4
2018-04-01 07:12:00    4
2018-04-01 14:25:00    4
2018-04-08 11:07:00    4
2018-04-05 13:16:00    3
2018-04-05 13:17:00    3
Name: Slots, dtype: int64

# most popular time using Utilib and utilib 1.4

In [118]:
#finding most pickup time using utilib
popular_in_utilib = df1.groupby('newdt').count()['Utilib counter']
popular_in_utilib.sort_values(ascending=False).head(10)

newdt
2018-04-06 05:52:00    5
2018-04-06 22:29:00    4
2018-04-04 08:31:00    4
2018-04-04 03:32:00    4
2018-04-01 16:02:00    4
2018-04-01 07:12:00    4
2018-04-01 14:25:00    4
2018-04-08 11:07:00    4
2018-04-05 13:16:00    3
2018-04-05 13:17:00    3
Name: Utilib counter, dtype: int64

In [121]:
#finding most pickup time using utilib 1.4
popular_in_utilib4 = df1.groupby('newdt').count()['Utilib 1.4 counter']
popular_in_utilib4.sort_values(ascending=False).head(10)

newdt
2018-04-06 05:52:00    5
2018-04-06 22:29:00    4
2018-04-04 08:31:00    4
2018-04-04 03:32:00    4
2018-04-01 16:02:00    4
2018-04-01 07:12:00    4
2018-04-01 14:25:00    4
2018-04-08 11:07:00    4
2018-04-05 13:16:00    3
2018-04-05 13:17:00    3
Name: Utilib 1.4 counter, dtype: int64